body{
    display: flex;
    overflow-x: hidden;
    background-color: #2c2c2c;
}
ul{
    list-style: none;
}
.div1{
    border: 2px #8f1ef8 solid;
    background-color:rgb(170, 79, 255);
    position: relative;
    top: 100px;
    width: 1250px;
height: 55px;
color: rgb(240, 224, 255);

}
.b{
      font-family: "Spicy Rice", serif;
    position: relative;
    left: 450px;
    bottom: 23px;
}
.c{
      font-family: "Spicy Rice", serif;
    position: relative;
    left: 560px;
    bottom: 43px;
}
.d{
      font-family: "Spicy Rice", serif;
    position: relative;
    left: 670px;
    bottom: 65px;
}
.e{
font-family: "Spicy Rice", serif;
    position: relative;
    left: 1100px;
    bottom: 95px;
    border:2px rgb(82, 2, 156) solid;
    width: 80px;
    height: 30px;
    background-color: rgb(152, 50, 248);
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(83, 46, 117);
    color: rgb(240, 224, 255);
}
.a{
      font-family: "Fascinate", system-ufonti;
    font-weight: bold;
    font-size: 20px;
}


/* second navbar */

.div2{
    position: relative;
    top: 200px;
    border: 2px rgb(199, 199, 0) solid;
    background-color: rgb(255, 255, 2);
    height: 55px;
    width: 1250px;
    color: rgb(138, 131, 32);
        
}
.f{
    font-family: "Spicy Rice", serif;
}
.g{
    font-family: "Spicy Rice", serif;
    position: relative;
    left: 90px;
    bottom: 21px;
}
.h{
    font-family: "Spicy Rice", serif;
    position: relative;
    left: 185px;
    bottom: 43px;
}
.i{
    font-family: "Spicy Rice", serif;
    position: relative;
    left: 270px;
    bottom: 70px;
    border: 2px rgb(189, 189, 4) solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 2);
    box-shadow: 3px 3px 10px rgb(129, 129, 2);
    width: 80px;
    height: 30px;
    color: rgb(129, 129, 2);
}
.j{

    position: relative;
    left: 1070px;
    bottom: 95px;
          font-family: "Fascinate", system-ufonti;
          font-weight: bold;
          font-size: 20px;

}

/* third navbar */

.div3{
    position: relative;
    top: 300px;
    border: 2px rgb(2, 138, 2) solid;
    background-color: rgb(4, 231, 4);
    height: 55px;
    width: 1250px;
    color: rgb(199, 252, 199);
    
}


.l{
    font-family: "Spicy Rice", serif;
    position: relative;
    left: 850px;
    bottom: 22px;
    
}
.m{
font-family: "Spicy Rice", serif;
    position: relative;
    left: 945px;
    bottom: 43px;

}
.n{
font-family: "Spicy Rice", serif;
    position: relative;
    left: 1035px;
    bottom: 65px;

}
.o{
    font-family: "Spicy Rice", serif;
    position: relative;
    left: 1115px;
    bottom: 95px;
    border: 2px rgb(2, 139, 2) solid;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(2, 192, 2);
    background-color: rgb(4, 231, 4);
    width: 80px;
    height: 30px;
  color: rgb(204, 255, 204);
}
.k{
    font-family: "Fascinate", system-ufonti;
    font-weight: bold;
    font-size: 20px;
    

}
.main{
    position: relative;
    left: 40px;
    
    
}


